body{
    margin:0;
    background-color: rgb(113, 42, 180);
    color:rgb(173, 6, 224);
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 100vh
}

.card{
    text-align: center;
    width:350px;
    background-color: rgb(153, 9, 219);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;

}

.banner{
    background: linear-gradient(45deg, #d400ff, #800299);
    height: 100px;
}

.foto{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid rgb(189, 40, 226);
    margin-top: -60px;
    object-fit: cover;
}

.bio{
    font: 0.9rem;
    color: rgb(209, 10, 192);
    padding: 0 20px;
    margin-bottom: 25px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
}

.botao{
    text-decoration: none;
    color: #a92ee2;
    background: rgb(100, 10, 112);
    padding: 12px;
    font-weight: 700;
    border-radius: 20px 0 20px 0;
    box-shadow: 4px 4px 0px rgb(80, 5, 129);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.botao:hover{
    background: rgb(168, 2, 168);
    color: black;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(70, 0, 66);
    border-radius: 0 20px 0 20px;
}
